/* Seus estilos globais vão aqui */

@font-face {
  font-family: brixton;
  src: url(../styles/BrixtonSansLt.ttf);
}

* {
  font-family: brixton;
  font-weight: lighter;
  color: black !important;
  overflow: hidden;
}

.navbar-title {
  font-family: brixton;
  color: black;
  text-decoration: none;
}

.section1 {
  background-color: #a09ed6;
  height: 50rem;
  width: 100%;
}

.loginText {
  padding-right: 30px;
  font-size: 20px;
}

.logoMain {
  padding-top: 100px;
}

.loginpage {
  background-color: #6f5495;
  width: auto;
  height: 50rem;
}

.loginpage form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.loginbtn {
  margin-left: 110px;
  margin-bottom: 10px;
}

.signup-page {
  background-color: #f68fa0;
  width: auto;
  height: 50rem;
}

.signup-page form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.signup-btn {
  margin-left: 110px;
  margin-bottom: 10px;
}

.allSection {
  background-color: #7986CB;
  width: auto;
  height: 50rem;
}

.audio-upload{
    background-color: #7B1FA2;
  width: auto;
  height: 50rem; 
}